/* Google fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.input-wrapper{
    display: flex;
    /* border: 1px solid green; */
    white-space: nowrap;
    font-weight: 800;
    font-size: 0.9rem;
    color: rgb(46, 46, 46);
}

.search-container{
    width: 320px;
    margin-right: 2rem;
}
.search-suggestion{
    position: absolute;
    background-color: honeydew;
    width: 320px;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(1, 31, 1);
}

.suggestion{
    border-bottom: 1px solid rgb(197, 221, 197);
    width: 100%;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.top-bar{
    /* border: 1px solid grey; */
    padding: 1rem 0;
    margin-bottom: 2rem;
    margin-top: 150px;
}

.max-width{
    max-width: 5rem;
}

.margin{
    margin-top: 100px;
    padding-top: 100px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.active_tab {
    background-color: blue;
    border-radius: 20px;
    color: white;
}

.tabs {
    font-size: small;
}

.tabs p {
    cursor: pointer;
}

.company_info img {
    object-fit: contain;
}

.company_info{
    /* border: 1px solid black; */
}

.master-container-div{
    top: 1rem;
}

/* Date Filter Css */

.date-selector{
    background-color: rgb(240, 240, 240);
    /* border: 1px solid grey; */
    border-radius: 0.7rem;
    margin: auto 0;
    padding: 0.5rem 3rem;
    color: rgb(144, 144, 144);
    cursor: pointer;
}

.date-selector:hover, .active-date{
    background-color: rgb(19, 19, 19);
    color: white;
}

.expiry-date{
    /* background-color: blue; */
    font-size: 0.8rem;
    font-weight: 900;
    text-align: center;

}

.center-text{
    text-align: center;
}