body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top_button_panel .btn.active{
  background-color: #3751FF;
  border-color: #3751FF;
  color: #fff;
}
.accordion-button.active span{
  color: #3751FF;
}

.companyviewblk.v2.compny_left_detail .chart .card-text.up{
  border-left: 4px solid #13A41B;
}

.companyviewblk.v2.compny_left_detail .chart .card-text.down{
  border-left: 4px solid #DF0822;
}

.description-para.read-more-container{
  overflow-y: auto;
}

.up.scenario{
  border-left: 5px solid #13A41B;
}

.down.scenario{
  border-left: 5px solid #DF0822;
}

.up.scenario .up-down-color{
  color:#13A41B;
}

.down.scenario .up-down-color{
  color:#DF0822;
}

.up.scenario .up-down-bg-color{
  background-color:rgb(19 164 100 / 15%)
}

.down.scenario .up-down-bg-color{
  /* background-color:rgb(254 19 12 / 96%); */
  background-color:rgb(223 8 34 / 90%);
  color: white;
}

.up-color{
  color:#13A41B;
}

.down-color{
  color:#DF0822;
}

.up-bg-color{
  background-color:rgb(19 164 100 / 15%)
}

.down-bg-color{
  /* background-color:rgb(254 19 12 / 96%); */
  background-color:rgb(223 8 34 / 90%);
  color: white;
}